@import "global";

//nav styling
.nav-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2.5rem 5rem;

  .headers {
    display: flex;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 32px;
  }

  .nav-icons {
    display: flex;
    gap: 1rem;
    place-items: center;
  }
}
.icon {
  background-color: $lightGray-color;
  border-radius: 50%;
  padding: 0.4rem 0.6rem;
}

//card styles

.card-container {
  display: flex;
  justify-content: space-evenly;

  .card {
    position: relative;
    place-items: center;
    padding: 25px 20px;
    border: 1px solid $darkGray-color;
    border-radius: 15px;
  }
  .title {
    line-height: 150%;
    font-weight: 500;
  }

  .card-buttons {
    display: flex;
    gap: 0.5rem;
  }

  .description {
    color: #787878;
    width: 230px;
  }
  .price {
    color: #b93c3c;
    font-size: 700;
    font-style: bold;
  }

  .img-container {
    text-align: center;
    width: 100%;
  }
}
.hover-icon {
  position: absolute;

  display: flex;
  place-items: center;
  justify-content: center;
  background-color: $lightGray-color;
  width: 54.25px;
  height: 54.25px;
  border-radius: 50%;
  float: right;
  z-index: 2;
  left: 12rem;
  top: 1rem;
}

//other styling
.container {
  padding: 5rem 9rem;
}

.suggest-section {
  display: flex;
  flex-direction: column;
  h2 {
    margin-left: 1rem;
    font-size: 40px;

    font-weight: 500;
    line-height: 150%; /* 60px */
    text-transform: capitalize;
  }
}

.primary-button {
  border: none;
  background-color: black;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  height: 39px;

  text-transform: uppercase;
}
.heart-icon {
  display: flex;
  place-items: center;
  justify-content: center;
  background-color: $lightGray-color;
  width: 54px;
  height: 39px;
  border-radius: 5px;
}

.red-text {
  color: #b93c3c;
  font-size: 700;
  font-style: bold;
  font-size: 21.101px;
}

//Product Page Styles

.product-details {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .price {
    color: #b93c3c;
    font-style: bold;
    font-size: 23.02px;
    font-weight: 600;
  }
  .old-price {
    color: $darkGray-color;
    font-style: bold;
    font-size: 23.02px;
    font-weight: 600;
    text-decoration: line-through;
  }
  .description {
    color: #787878;
    font-weight: 400;
    line-height: 120.5%;
  }
  .size-container {
    display: flex;
    gap: 1rem;
  }
  .size-label {
    border-radius: 5px;
    border: 1px solid #c7c7c5;
    display: flex;
    width: 3rem;
    height: 2rem;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
  }
  .icons {
    display: flex;
    color: #707070;
    gap: 2.5rem;
  }
  .icons div {
    display: flex;
    place-items: center;
    gap: 1rem;
  }

  .icon {
    display: flex;
    place-content: center;
    place-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.5rem;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.colors-container {
  display: flex;
  gap: 1rem;
  .border {
    border: 0.5px solid black;
  }
}
.color-label {
  display: inline-block;
  padding: 5px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

//cart Component Style

.cart-container {
  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 30px solid white;
    right: 10em;
    top: 5.5em;
    z-index: 10;
  }
  .cart-body {
    position: absolute;
    right: 3em;
    top: 6.5em;
    z-index: 5;
    max-width: 400px;
    max-height: 500px;
    min-height: 300px;
    border-radius: 21.218px;
    background: #fff;
    box-shadow: 0px 4px 36px 0px rgba(128, 128, 128, 0.25);
    padding: 30px;
    overflow-y: auto;
  }
  .cart-title {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
  }

  img {
    width: 85px;
    height: 98px;
    border-radius: 9px;
  }
  .cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.5px solid $darkGray-color;
  }
  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 0.5rem;
    gap: -1rem;
  }
  .name {
    color: #444;
    font-size: 16px;
    font-weight: 500;
  }
  .red-text {
    font-size: 14px;
  }
}
.gray-text {
  color: rgba(7, 7, 7, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 120.5%; /* 16.87px */
  text-transform: lowercase;
}
